.bascet{
    &__body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__main{
        margin: 100px 0;
    }
    &__title{
        text-align: center;
        color: red;
        font-size: 32px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
    }
    &__form{
        width: 500px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input{
        width: 100%;
        padding: 10px 15px;
        font-size: 18px;
        margin-bottom: 35px;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: 0 0 4px 4px #f1f1f1;
        color: rgb(39, 211, 5);
    }
    &__btn{
        padding: 15px 30px;
        font-size: 18px;
        color: #f1f1f1;
        background-color: rgb(12, 150, 12);
        border: none;
        cursor: pointer;
    }
}