*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: sans-serif;
    background-color: rgb(15, 15, 15);
}

.container{
    width: 1470px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}